<div class="manual-calendar" data-ng-style="{'width': theStyle.width, 'height': theStyle.height, 'position': 'relative'}">
  <div class="manual-calendar--text-inner">
    <textarea auto-grow class="manual-calendar--header has-placeholder" data-ng-trim="false" placeholder="Tilføj en overskrift" data-ng-model="ikSlide.options.headline" spellcheck="false" data-ng-style="{'color': ikSlide.options.textcolor}">
    </textarea>
    <div class="manual-calendar--events" data-ng-init="day_index = 0">
    <div class="manual-calendar--event" data-ng-repeat="event in (actualEvents = (ikSlide.options.eventitems | activeEvents | orderBy: 'from' | limitTo : ikSlide.options.displayitems))" data-ng-init="$parent.day_index = $index === 0 || (event.from && actualEvents[$index-1].from && (event.from * 1000 | date:'yyyy-MM-dd') !== (actualEvents[$index-1].from * 1000 | date:'yyyy-MM-dd') && (event.from * 1000 | date:'yyyy-MM-dd') > (today | date:'yyyy-MM-dd')) ? 0: ($parent.day_index + 1); day_index = $parent.day_index">
        <header class="manual-calendar--day" data-ng-if="day_index === 0">
	  <b data-ng-if="(event.from * 1000 | date:'yyyy-MM-dd') > (today | date:'yyyy-MM-dd')">{{ event.from * 1000 | date:'EEEE d. MMMM'}}</b>
	  <b data-ng-if="(event.from * 1000 | date:'yyyy-MM-dd') <= (today | date:'yyyy-MM-dd')">{{ today | date:'EEEE d. MMMM'}}</b>
        </header>
        <div class="manual-calendar--row" data-ng-class="{'manual-calendar--row-1': day_index === 0, 'manual-calendar--row-2': day_index > 0 && day_index % 2 === 1, 'manual-calendar--row-3': day_index > 0 && day_index % 2 === 0}">
          <section class="manual-calendar--time">
            <span data-ng-if="event.from && !event.to">
              <span class="manual-calendar--to">{{event.from * 1000 | date:'HH:mm'}}</span>
            </span>
            <span data-ng-if="event.from && event.to && (event.from * 1000 | date:'yyyy-MM-dd') === (event.to * 1000 | date:'yyyy-MM-dd')">
              <span class="manual-calendar--to">{{event.from * 1000 | date:'HH:mm'}}</span> - <span class="manual-calendar--to">{{event.to * 1000 | date:'HH:mm'}}</span>
            </span>
            <span data-ng-if="event.from && event.to && (event.from * 1000 | date:'yyyy-MM-dd') !== (event.to * 1000 | date:'yyyy-MM-dd')">
              <span class="manual-calendar--to">{{event.from * 1000 | date:'dd. MMM HH:mm'}} - <br />{{event.to * 1000 | date:'dd. MMM HH:mm'}}</span>
            </span>
          </section>
          <section class="manual-calendar--title">
            {{event.title}}
          </section>
          <section class="manual-calendar--place">
            {{event.place}}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
