<div class="edit-menu" role="banner">
  <a class="edit-menu--overlay is-visible" data-ng-click="editor.hideEditors()"></a>
  <div class="edit-menu--inner is-visible">
    <div class="edit-menu--toggle-icon" data-ng-click="editor.hideEditors()">X</div>
    <h2 class="edit-menu--header">Maks antal begivenheder synlige</h2>
    <form class="edit-menu--form">
      <label class="edit-menu--label">Antal viste begivenheder</label>
      <input class="edit-menu--form-element" type="text" placeholder="7" data-ng-model="ikSlide.options.displayitems">
    </form>
  </div>
</div>
